@charset "UTF-8";
@import "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css";
@import "http://cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.min.css";

@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

/* @group Test Only */
.container {
    /*background-color: blue;*/
}


/* @end */

/* @group Body Style */
body {
    position: relative;
    font: 16px/26px;
    color: black;
    background: url('../img/pattern/gray_jean.png') repeat scroll 0 0 #f5f5f5;
    font-family: 'Source Sans Pro', sans-serif;
}
/* @end */
/* @group Structure Style */
a{
  text-decoration: none !important;
  color: #4e4e4e;
}
a:hover{
  text-decoration: none !important;
  color: #353535;
}
hr {
  border-color: transparent;
  margin:20px 0;
}
ul.icons {
  list-style-type: none;
  margin-left: 0em !important;
  text-indent: 0em !important;
}
ul, ol {
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}
.block {
  position: relative;
  margin: 0 auto;
  max-width: 60em;
}
.cell {
    margin-left: 20px;
}
/* @end */
/* @group Picture Style */
.picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 96%;
}
.img-polaroid {
    background-color: #fef6f6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    padding: 0px;
    border:1px solid #fef6f6 !important;
}
/* @end */
/* @group Title Style */
h1 {
  font-size: 28px;
}
h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
h3 {
  line-height: 30px;
  margin-bottom: 15px;
}
/* @end */
/* @group Header Style */

/* @end */
/* @group Main Style */

/* @group Post */
.post {
    margin-top: 45px;
}
.post .post-img {
    position: relative;
}
.post .post-info {
    background: url("../img/pattern/cream_dust.png") repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding-top: 10px;
}
.post-info .post-meta {
    color: #4e4e4e;
    border-right: 1px solid #eaeaea;
    min-width: 120px;
}
.post-meta h4:hover {
    text-decoration: underline;
}
.post-meta .post-meta {
    padding-top: 5px;
}
.post .post-title {
}
.post-info .post-comment {
    border-top: 1px solid #eaeaea;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 0;
}
.post-info .post-comment li {
    float: left;
    display: inline-block;
    padding-right: 15px;
}
.post-info .post-comment ul.paginator {
    float: right;
}
.post-content {
    background: url("../img/pattern/cream_dust.png") repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding-top: 25px ;
}
.post-content .icons li {
    display: inline-block;
    padding: 20px 0;
    margin-left: 10px;
}
/* @end */

/* @group Comment Style */
.comment-list {
    float: left;
    margin: 0;
}
.comment-list li {
    list-style: none outside none;
    border-top: 1px solid #dedede;
    float: left;
    padding: 15px 0 10px;
    width: 100%;
}
.comment-list li:first-child {
    border: medium none;
    padding: 15px 0 0;
}
ol li .child-list {
    float: right;
    margin: 0;
    width: 89%;
}
.comment-list li .child-list li:first-child {
    border-top: 1px solid #dedede;
    font-size: 12px;
    padding: 15px 0 0;
}
.comment-list li .child-list li {
    border-top: 1px solid #dedede;
    font-size: 12px;
    margin: 15px 0 15px;
}
.comment {
    float: left;
    width: 100%;
}
.comments-amount {
    color: #888888;
}
ol li ol.child-list .comment-info {
    float: right;
    width: 89%;
}
.avatar {
    float: left;
}
.comment-info {
    float: right;
    width: 90%;
}
.comment-info strong {
    float: left;
    font-size: 12px;
    padding-right: 5px;
}
.comment-info span {
    color: #888888;
    float: left;
}
.comment-meta {
    color: #4E4E4E;
    float: left;
    padding-bottom: 8px;
    padding-top: 5px;
    width: 100%;
}
.ie7 .comment-author span.reply span {
    display: none;
}
.comment-meta span.reply {
    color: #929292;
    display: inline;
    float: right;
}
.comment-meta span.reply a {
    float: right;
    font-weight: normal;
    height: 17px;
    margin-left: 5px;
}
.comment-meta span.date {
    color: #929292;
    float: right;
    padding-right: 7px;
}
/* @end */

/* @end */

/* @group Footer Style */

/* @end */

/* @group PC */
@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}
/* @end */

/* @group Phones */
@media (max-width: 768px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .post .post-info {
        
    }
    .post .post-meta {
        border-right: none;
        padding-top: 10px;
    }
    .post .post-meta li {
        display: inline-block;
        padding-left: 5px;
    }
    .post post-detail {
        padding: 5px 0;
    }
}
/* @end */